{% extends "base.html" %}{% load humanize %}

{% block body %}
<style>
    .data-row {
        text-overflow: ellipsis;
        max-width: 600px;
        white-space: nowrap;
        overflow: hidden;
    }
</style>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">{{ description }}: {{ comment_count|intcomma }}</h1>
	<div class="info">
		{% if details %}
		<p class="details lead">Notes: {{details}}</p>
		{% endif %}
		{% if url %}
		<p class="source lead">We think this comment listing comes from: {{ url }}</p>
		{% else %}
		<p class="source lead">Do you know where these comments come from? <a href="https://goo.gl/forms/K2bwpZMhHWC9yfD92">Let us know!</a></p>
		{% endif %}	
	</div>
  </div>
</div>


<div class="container">
    <div class="row" style="margin-bottom: 1rem">
        {% for name, stat_dict in stats.items %}
        <div class="col-md-3" style="margin-bottom: 1rem">
            <h5>{{ name }}</h5>
            <ul class="list-group">
                {% for key, count in stat_dict.items %}
                <li class="list-group-item justify-content-between">
                    {{ key }}
                    <span class="badge badge-default badge-pill">{{ count|intcomma }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
	
	<h4>Sample of 50 Comments</h4>
    <table class="table table-sm">
        <thead class="https://www.fcc.gov/ecfs/filing/">
            <tr>
                <th>FCC ID</th>
                <th>Name</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
            <tr>
                <td><a href="https://www.fcc.gov/ecfs/filing/{{ result.id_submission }}">{{ result.id_submission }}</a></td>
                <td>{{ result.filers.0.name }}</td>
                <td><div class="data-row">{{ result.text_data }}</div></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}